{% extends 'main/layout.html' %}

{% block content %}

<!-- search -->
<div class="container">
    <br>
    <h2 class="text-center">Search Campaigns</h2>
    <br>
    <form method="POST" class="row g-4">
        {{ form.hidden_tag() }}

        <div class="form-group col-md-6">
            <div class="input-group">
                {{ form.industry.label(class="col-sm col-form-label") }}
                {% if form.industry.errors %}
                    {{ form.industry(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.industry.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.industry(class="form-control") }}
                {% endif %}
            </div>   
        </div>

        <div class="form-group col-md-6">
            <div class="input-group">
            {{ form.visibility.label(class="form-control-label col-sm col-form-label") }}
            {% if form.visibility.errors %}
                {{ form.visibility(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.visibility.errors %}
                <span>{{ error }}</span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.visibility(class="form-control") }}
            {% endif %}
            </div>
        </div>

        

        <div class="form-group col-md-4">
            <div class="input-group">
                {{ form.sponsor_name.label(class="col-sm col-form-label") }} {{ form.sponsor_name(class="form-control") }}
                {% if form.sponsor_name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.sponsor_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="input-group">
                {{ form.budget.label(class="form-control-label col-sm col-form-label") }}
                {% if form.budget.errors %}
                    {{ form.budget(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.budget.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.budget(class="form-control") }}
                {% endif %}
            </div>
        </div>
        
        
        
        <div class="form-group col-md-4">
            <div class="input-group">
            {{ form.submit(class="btn btn-primary col-sm") }}
        </div>

        </div>
    </form>
<br>
<h2>Results</h2>
<br>



<!-- new -->

<ul class="list-group">
    {% if campaigns %}
    {% for campaign, full_name, website in campaigns %}
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div>
                <h5 class="mb-1">{{ campaign.name }}</h5>
                <p class="mb-1">{{ campaign.visibility }}</p>
                <p class="mb-1">Goals: {{ campaign.goals }}  |  Budget: {{ campaign.budget }}</p>
            </div>  
            <div class="btn-group" role="group" aria-label="Admin Actions">
                <p class="mb-1"><a href="{{ url_for('sponsor.profile', user_id=campaign.sponsor_id) }}"><button type="button" class="btn btn-link">{{ full_name }}</button></a></p>

                <a href="{{ url_for('sponsor.campaign_visitor_profile', campaign_id=campaign.id) }}" class="btn btn-info">View</a>
                {% if campaign.flagged %}
                <a href="{{ url_for('admin.unflag_campaign', campaign_id=campaign.id) }}" class="btn btn-warning">Unflag</a>  
                {% else %}
                <a href="{{ url_for('admin.flag_campaign', campaign_id=campaign.id) }}" class="btn btn-danger">Flag</a>
                {% endif %}

            </div>
        </div>
        {% endfor %}
        
    {% else %}
        <li>No campaigns found.</li>
    {% endif %}
</ul>
</div>
{% endblock %}