{% extends 'main/layout.html' %}

{% block content %}
<div class="container"></div>
<br>
    <h2 class="text-center">All Ad Requests</h2>
        <br>
        <div class="container-sm">

    {% if ad_requests %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Ad ID</th>
                    <th>Status</th>
                    <th>Offer Amount</th>
                    <th>Campaign Name</th>
                    <th>Influencer Name</th>
                    <th>Actions</th>
                
                </tr>
            </thead>
            <tbody>
                {% for ad_request in ad_requests %}
                <tr>
                    <td>{{ ad_request.id }}</td>
                    <td><small>{{ ad_request.status }} --- {{ ad_request.completion_status }}</small></td>
                    <td>{{ ad_request.offer_amount }}</td>
                    <td>{{ ad_request.campaign_name }}</td>
                    <td>{{ ad_request.influencer_name }}</td>
                    <td>
                        <a href="{{ url_for('sponsor.edit_ad_request', ad_request_id=ad_request.id) }}" class="btn btn-info btn-sm">View</a>
                        <form action="{{ url_for('sponsor.delete_ad_request', ad_request_id=ad_request.id) }}" method="POST" style="display:inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No ad requests found.</p>
    {% endif %}
</div>
</div>
{% endblock %}