{% extends 'main/layout.html' %}

{% block content %}
<!-- Start: Hero With Brands -->
<section class="py-5 mt-5">
    <!-- Start: Hero Clean Reverse -->
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div style="max-width: 350px;">
                    <h1 class="display-6 fw-bold mb-4">Create and track campaigns on one <span class="underline">platform</span>.</h1>
                    <p class="my-4"><span style="color: rgba(18, 22, 67, 0.75);">Amplify your brand's reach with authentic influencer partnerships. Create and manage campaigns effortlessly. Our platform helps you find the perfect influencers to advertise your product or service.</span></p>
                    <a class="btn btn-primary btn-lg me-2" role="button" href="{{ url_for('auth.signup') }}">Sign Up</a>
                    <a class="btn btn-light btn-lg" role="button" href="{{ url_for('sponsor.profile', user_id=current_user.id) }}">Profile</a>
                </div>
            </div>
            <div class="col-md-6">
                <div><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="static/img/illustrations/startup.svg"></div>
            </div>
        </div>
        <div class="text-center mt-5">
            <p class="mb-4" style="font-size: 1.6rem;">Used by <span class="text-primary bg-warning p-1"><strong>2400+</strong></span> of the best companies in the world.</p>
            <a href="#"><img class="m-3" src="static/img/brands/instacart.png"></a>
            <a href="#"><img class="m-3" src="static/img/brands/kickstarter.png"></a>
            <a href="#"><img class="m-3" src="static/img/brands/lyft.png"></a>
            <a href="#"><img class="m-3" src="static/img/brands/shopify.png"></a>
            <a href="#"><img class="m-3" src="static/img/brands/pinterest.png"></a>
            <a href="#"><img class="m-3" src="static/img/brands/twitter.png"></a>
        </div>
    </div>
    <!-- End: Hero Clean Reverse -->
</section>
<!-- End: Hero With Brands -->

<section>
    <!-- Start: Features Centered Icons -->
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6">
                <h3 class="display-6 fw-bold pb-4 mb-4">Features that make your marketing more <span class="underline">productive</span></h3>
            </div>
            <div class="col-md-8 col-xl-6 pt-4">
                <p class="text-muted">Create and manage campaigns effortlessly, search for influencers that match your brand's niche, and track your campaign's progress.</p>
            </div>
        </div>
    </div>
    <!-- End: Features Centered Icons -->

    <!-- Start: Features Cards -->
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col mb-5">
                <img class="rounded img-fluid" src="static/img/illustrations/data-management.svg">
            </div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fs-3 fw-bold mb-4">Create Campaigns</h5>
                    <p class="text-muted mb-4">Launch and categorize your advertising campaigns with ease.</p>
                    <a class="fw-bold mb-3" href="{{ url_for('sponsor.manage_campaigns') }}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col order-md-last mb-5">
                <img class="rounded img-fluid" src="static/img/illustrations/javascript.svg">
            </div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div class="ms-md-3">
                    <h5 class="fs-3 fw-bold mb-4">Manage ad-requests</h5>
                    <p class="text-muted mb-4">Send, track, and negotiate ad requests with top influencers.</p>
                    <a class="fw-bold" href="{{ url_for('sponsor.all_ad_requests') }}"><i class="fa fa-external-link" aria-hidden="true"></i></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Features Cards -->
</section>

<!-- Start: Two Row -->
<section class="py-5">
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 text-center text-md-start d-flex flex-column justify-content-center">
                <h1 class="display-5 fw-bold mb-4">Track your campaigns in real-time</h1>
                <p class="my-4">Our platform provides you with real-time analytics to track your campaign's performance. Monitor your campaign's reach, engagement, and conversions effortlessly.</p>
                <a class="fw-bold mb-3" href="{{ url_for('sponsor.sponsor_analytics') }}"><i class="fa fa-external-link" aria-hidden="true"></i></a>

            </div>
            <div class="col-md-6"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="static/img/illustrations/report.svg"></div>
        </div>
    </div>
</section>
<!-- End: Two Row -->




{% endblock %}
