{% extends 'main/layout.html' %}


{% block content %}

    <!-- Start: Hero With Brands -->
    <section class="py-5 mt-5">
        <!-- Start: Hero Clean Reverse -->
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 gy-md-0">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div style="max-width: 350px;">
                        <h1 class="display-6 fw-bold mb-4">Monetize Your Following: All-in-One&nbsp;<span class="underline">Solution</span></h1>
                        <p class="my-4">Turn your social media following into a revenue stream. Collaborate with top brands, receive ad requests, and negotiate terms that work best for you. Showcase your profile &amp; niche, and make your mark in the influencer marketing space.</p><a class="btn btn-primary btn-lg me-2" role="button" href="{{ url_for('auth.signup') }}">Sign Up</a><a class="btn btn-light btn-lg" role="button" href="{{ url_for('influencer.profile', user_id=current_user.id) }}">Profile</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="static/img/illustrations/login.svg"></div>
                </div>
            </div>
            <div class="text-center mt-5"><p class="mb-4" style="font-size: 1.6rem;">Used by <span class="text-primary bg-warning p-1"><strong>45000+</strong></span> of the top influencers in the world.</p><a href="#"> <img class="m-3" src="static/img/brands/instacart.png"></a><a href="#"> <img class="m-3" src="static/img/brands/kickstarter.png"></a><a href="#"> <img class="m-3" src="static/img/brands/lyft.png"></a><a href="#"> <img class="m-3" src="static/img/brands/shopify.png"></a><a href="#"> <img class="m-3" src="static/img/brands/pinterest.png"></a><a href="#"> <img class="m-3" src="static/img/brands/twitter.png"></a></div>
        </div><!-- End: Hero Clean Reverse -->
    </section><!-- End: Hero With Brands -->
    <section>
        <!-- Start: Features Centered Icons -->
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6">
                    <h3 class="display-6 fw-bold pb-4 mb-4">Features that make your content more&nbsp;<span class="underline">productive</span></h3>
                </div>
                <div class="col-md-8 col-xl-6 pt-4">
                    <p class="text-muted">With our advanced recommendation engine, we lead the best sponsors according to your profile and followers directly to your inbox with a safe and reliable payment system.</p>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="card border-light border-1 d-flex justify-content-center p-4">
                        <div class="card-body">
                            <div>
                                <div class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                        <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                    </svg></div>
                                <h4 class="fw-bold">Browse Campaigns</h4>
                                <p class="text-muted">Discover and apply for public campaigns that align with your interests.</p>
                                <a class="fw-bold" href="{{ url_for('influencer.search_campaigns') }}">Learn more&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right fs-3"></a>
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l14 0"></path>
                                        <path d="M15 16l4 -4"></path>
                                        <path d="M15 8l4 4"></path>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-light border-1 d-flex justify-content-center p-4">
                        <div class="card-body">
                            <div>
                                <div class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                        <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                    </svg></div>
                                <h4 class="fw-bold">Manage Ad Requests</h4>
                                <p class="text-muted">Accept, reject, or negotiate ad requests seamlessly.</p><a class="fw-bold" href="{{ url_for('influencer.view_requests') }}">Learn more&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right fs-3">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l14 0"></path>
                                        <path d="M15 16l4 -4"></path>
                                        <path d="M15 8l4 4"></path>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-between flex-xl-column">
                    <div class="card border-light border-1 d-flex flex-grow-1 justify-content-center p-2 me-3 me-xl-0 mb-xl-4">
                        <div class="card-body">
                            <div class="bs-icon-md bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                </svg></div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="fw-bold mb-0">Profile Customization</h4><a class="fw-bold" href="{{ url_for('influencer.profile', user_id=current_user.id) }}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right fs-3">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l14 0"></path>
                                        <path d="M15 16l4 -4"></path>
                                        <path d="M15 8l4 4"></path>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="card border-light border-1 d-flex flex-grow-1 justify-content-center p-2">
                        <div class="card-body">
                            <div class="bs-icon-md bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                </svg></div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="fw-bold mb-0">Earn Money</h4><a class="fw-bold" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right fs-3">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l14 0"></path>
                                        <path d="M15 16l4 -4"></path>
                                        <path d="M15 8l4 4"></path>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End: Features Centered Icons -->
    </section>
    
    
    
    
{% endblock content %}


