{% extends 'main/layout.html' %}
{% block content %}
<h1>Ad Requests</h1>
<ul>
    {% for ad_request in ad_requests %}
    <li>
        <div class="ad-request">
            <div class="ad-request-info">
                <h3>{{ ad_request.campaign.name }}</h3>
                <p>Status: {{ ad_request.status }}</p>
            </div>
            <div class="ad-request-actions"></div>
                <a href="{{ url_for('influencer.accept_ad_request', ad_request_id=ad_request.id) }}" class="btn btn-success">Accept</a>
                <a href="{{ url_for('influencer.reject_ad_request', ad_request_id=ad_request.id) }}" class="btn btn-danger">Reject</a>
                <a href="{{ url_for('influencer.negotiate_ad_request', ad_request_id=ad_request.id) }}" class="btn btn-warning">Negotiate</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
